# Problem

- Let’s say a merchant asked his employee to count the total number of Amazon delivery boxes that contained the number 1 inside, as the merchant promised to give money.

In [1]:
li = [1, 5, 1, 7, 1]
ans = 0
for i in li:
	if i == 1:
		ans = ans + 1
print(ans)

3

In [2]:
li = [1, 5, 1, 7, 1]
ans = 0
for i in range(5):
	if li[i] == 1:
		ans = ans + 1
print(ans)

3

In [3]:
li = [1, 5, 1, 7, 1, 1]
ans = 0
for i in range(5):
	if li[i] == 1:
		ans = ans + 1
print(ans)

3

In [4]:
li = [1, 5, 1, 7, 1, 1]
ans = 0
for i in range(3):
	if li[i] == 1:
		ans = ans + 1
print(ans)

2

In [5]:
li = [1, 5, 1, 7, 1, 1]
ans = 0
for i in range(7):
	if li[i] == 1:
		ans = ans + 1
print(ans)

IndexError: list index out of range

In [6]:
li = [0, 5]

print(li[0])
print(li[1])

0
5

In [7]:
li = [0, 5]

print(li[0])
print(li[1])
print(li[2])

0
5

IndexError: list index out of range

In [8]:
li = [1, 5, 1, 7, 1, 1]
ans = 0
for i in range(6):
	if li[i] == 1:
		ans = ans + 1
print(ans)

4

# len

- It provides the length of any iterable object

In [9]:
li = [1, 5, 1, 7, 1, 1]
print(len(li))

6

In [10]:
li = [1, 5, 1, 7, 1, 1]
ans = 0
for i in range(len(li)):
	if li[i] == 1:
		ans = ans + 1
print(ans)

4

In [11]:
li = [1, 5, 1, 7, 1, 1, 1, 1]
ans = 0
for i in range(len(li)):
	if li[i] == 1:
		ans = ans + 1
print(ans)

6

# Problem

- Let’s say a merchant asked his employee to count the total number of Amazon delivery boxes that contained the number exactly divisible by 3

- To solve the problem mentioned above, it is important to have an understanding of the modulus operator.

# Modulus Operator

- 5 % 3 is 2- 6 % 3 is 0
- 7 % 3 is 1
- 8 % 5 is 3

In [12]:
print(6 % 3)
print(35 % 5)

0
0

In [13]:
li = [3, 6, 8, 7, 9]

ans = 0

for i in li:
	if i % 3 == 0:
		ans = ans + 1
print(ans)

3

In [14]:
li = [3, 6, 8, 7, 9, 15, 12]

ans = 0

for i in li:
	if i % 3 == 0:
		ans = ans + 1
print(ans)

5

In [15]:
li = [3, 6, 8, 7, 9, 15, 12]

ans = 0

for i in li:
	if i % 2 == 0:
		ans = ans + 1
print(ans)

3

In [16]:
li = [3, 6, 8, 7, 9, 15, 12]

ans = 0

for i in li:
	if i % 5 == 0:
		ans = ans + 1
print(ans)

1

# Or, And Operators

- and: If both conditions are true, it returns true; otherwise, it returns false
- or: If either of the conditions is true, it returns true; otherwise, it returns false

In [17]:
if (1 + 2 == 3):
	print("Booooom")
else:
	print("chapri")

Booooom

In [18]:
if (1 + 2 == 3) and (2 + 3 == 5):
	print("Booooom")
else:
	print("chapri")

Booooom

In [19]:
if (1 + 2 == 3) or (2 + 3 == 5):
	print("Booooom")
else:
	print("chapri")

Booooom

In [20]:
if (1 + 2 == 3) or (2 + 4 == 5):
	print("Booooom")
else:
	print("chapri")

Booooom

# Problem

- Let’s say a merchant asked his employee to count the total number of Amazon delivery boxes that contained a number exactly divisible by 2 and 3

In [21]:
li = [12, 3, 4, 2, 18, 6]

ans = 0

for i in li:
	if ((i % 3 == 0) and (i % 2 == 0)):
		ans = ans + 1
print(ans)

3

# Problem

- Let’s say a merchant asked his employee to count the total number of Amazon delivery boxes that contained a number exactly divisible by 2 or 3

In [22]:
li = [12, 3, 4, 2, 18, 6]

ans = 0

for i in li:
	if ((i % 3 == 0) or (i % 2 == 0)):
		ans = ans + 1
print(ans)

6

In [23]:
li = [12, 3, 4, 2, 18, 6, 5]

ans = 0

for i in li:
	if ((i % 3 == 0) or (i % 2 == 0)):
		ans = ans + 1
print(ans)

6