# Pattern12: Booka padina Konda muggu

```python

# self tried and written code

r = 4
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()
```

In [1]:
# printing the konda muggu
r = 5
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

# Breakdown the pattern12 and understand how to solve it simply

In [2]:
r = 5
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [3]:
r = 5
for i in range(r):
    for k in range(2*i+1):
        print("*", end="")
    print()

*
***
*****
*******
*********

In [4]:
r = 5
for i in range(r):
    for k in range(2*i+1):
        if k == 0:
            print("*", end="")
        else:
            print("-", end="")
    print()

*
*--
*----
*------
*--------

In [5]:
r = 5
for i in range(r):
    for k in range(2*i+1):
        if k == 0 or k == 2*i:
            print("*", end="")
        else:
            print("-", end="")
    print()

*
*-*
*---*
*-----*
*-------*

In [6]:
r = 5
for i in range(r):
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print("-", end="")
    print()

*
*-*
*---*
*-----*
*********

In [7]:
r = 5
for i in range(r):
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*
* *
*   *
*     *
*********

In [8]:
r = 5
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*********

# Pattern13: Booka padina reverse Konda muggu
```python

# self tried and written code

r = 4
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()
```

In [9]:
# printing reverse konda mugu

r = 5
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *

In [10]:
r = 5
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i or i == r-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*********
 *     *
  *   *
   * *
    *

# Pattern15: hollow rhombus

In [12]:
r = 3
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()

  *
 ***
*****
*****
 ***
  *

In [13]:
r = 3
for i in range(r-1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        print("*", end="")
    print()

  *
 ***
*****
 ***
  *

In [14]:
r = 3
for i in range(r-1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i:
            print("*", end="")
        else:
            print(" ", end="")
    print()
for i in range(r-1, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

  *
 * *
*   *
 * *
  *

In [15]:
r = 3
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i:
            print("*", end="")
        else:
            print(" ", end="")
    print()
for i in range(r-2, -1, -1):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(2*i+1):
        if k == 0 or k == 2*i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

  *
 * *
*   *
 * *
  *

# Pattern15:
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
```

In [20]:
n = 6 # number of rows

for i in range(n):
    for j in range(1, i+2):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [21]:
n = 6 # number of rows

for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

# Pattern16
```
----1
---21
--321
-4321
54321
```

In [22]:
r = 5

for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(i+1, 0, -1):
        print(k, end="")
    print()

    1
   21
  321
 4321
54321

# Pattern17
```
----1
---212
--32123
-4321234
543212345
```

In [23]:
r = 5

for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(i+1, 0, -1):
        print(k, end="")
    for m in range(1, i+1):
        print(m, end="")
    print()

    1
   211
  32112
 4321123
543211234

In [24]:
r = 5

for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(i+1, 0, -1):
        print(k, end="")
    for m in range(2, i+1):
        print(m, end="")
    print()

    1
   21
  3212
 432123
54321234

In [25]:
r = 5

for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for k in range(i+1, 0, -1):
        print(k, end="")
    for m in range(2, i+2):
        print(m, end="")
    print()

    1
   212
  32123
 4321234
543212345