# Addition and Subtraction in Python

In [1]:
first = 5
print(first + 8)

13

In [2]:
first = 5
second = 10
print(first + second)

15

In [3]:
first = 5
second = 10
third = first + second
print(third)

15

In [4]:
first = 5
second = 10
third = first - second
print(third)

-5

In [5]:
first = 5
second = first + 1
print(second)

6

In [6]:
first = 5
first = first + 1
print(first)

6

In [7]:
first = 5
first = first + 1
first = first + 1
print(first)

7

In [8]:
first = 5
first = first - 1
first = first - 1
print(first)

3

# Arrays

In [9]:
a1 = 5
a2 = 7
a3 = 4
a4 = 3
a5 = 9

print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

5
7
4
3
9

```
--> In this example, we have only five values to print, and we can do so without any issues

--> However, if we need to print 100,000 values, we should consider using an array data structure

--> Arrays are designed to store multiple values under a single variable name, making them suitable for handling larger sets of data
```

In [10]:
a = [4, 6, 8, 9, 3]

# To access items in an array, we use index numbers, 
# which generally start from 0 and go to n-1.

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

4
6
8
9
3

In [11]:
# In Python, it is not mandatory to store only the same type of data in an array; 
# we have the opportunity to store different types of data.

a = [4, "vignesh", 8, "Hello macha", 3]


print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

4
vignesh
8
Hello macha
3

In [12]:
# We reduce the assignment of 100,000 variables to a single variable assignment. 
# However, we still need to print all 100,000 index values manually. 
# Therefore, we are looking for a solution that allows us to print them automatically, 
# eliminating the need to print each one individually.

a = [4, "vignesh", 8, "Hello macha", 3]

for i in range(5):
	print(a[i])

4
vignesh
8
Hello macha
3

# range

In [13]:
print(range(5))
print(list(range(5)))

range(0, 5)
[0, 1, 2, 3, 4]

In [14]:
# single value in range: ending-1
print(list(range(6))) # 0 to 5
print(list(range(7))) # 0 to 6

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]

In [15]:
# two value in range: first starting, ending-1
print(list(range(2, 5))) # 2 to 4

[2, 3, 4]

In [16]:
# three value in range: first starting, ending-1, step value
print(list(range(2, 6))) # 2 to 5
print(list(range(2, 6, 2)))

[2, 3, 4, 5]
[2, 4]

In [17]:
print(list(range(2, 7))) # 2 to 6
print(list(range(2, 7, 2)))

[2, 3, 4, 5, 6]
[2, 4, 6]

In [18]:
li = [1, 5, 6]

for i in li:
	print(i)

# The program runs three times and prints all the values of the list `li`.

1
5
6

In [19]:
li = [1, 5, 6]

for i in li:
	print("macha")

macha
macha
macha

In [20]:
li = [1, 5, 6]

for i in li:
	print("macha")
	print(i)

macha
1
macha
5
macha
6

In [21]:
li = [1, 5, 6]

for i in li:
	print("macha")
	print(i)
print("bad boy")

macha
1
macha
5
macha
6
bad boy

In [22]:
for i in [1, 5, 6]:
	print("macha")
	print(i)
print("bad boy")

macha
1
macha
5
macha
6
bad boy

# Problem

- Let’s say a merchant asked his employee to count the total number of Amazon delivery boxes that contained the number 1 inside, as the merchant promised to give money.

In [23]:
li = [1, 5, 6, 8, 1, 4, 1, 6, 1]

for i in li:
	print(i)

1
5
6
8
1
4
1
6
1

In [24]:
li = [1, 5, 6, 8, 1, 4, 1, 6, 1]
ans = 0
for i in li:
	print(i)
	ans = ans + 1
print(ans)

1
5
6
8
1
4
1
6
1
9

In [25]:
li = [1, 5, 6, 8, 1, 4, 1, 6, 1]
ans = 0
for i in li:
	# print(i)
	ans = ans + 1
print(ans)

9

In [26]:
li = [1, 5, 6, 8, 1, 4, 1, 6, 1]
ans = 0
for i in li:
	# print(i)
	if (i == 1):
	    ans = ans + 1
print(ans)

4

# range extension

In [27]:
for i in range(2, 8): # 2 to 7
	print(i)

2
3
4
5
6
7

In [28]:
for i in range(4): # 0 to 4
	print(i)

0
1
2
3

In [29]:
li = [4, 8, 9, 2]
for i in range(4): # 0 to 4
	print(li[i])

4
8
9
2

# Create an array of varying lengths and print all the items within it

In [30]:
new_arr = [10, 2, 5, 4, 8, 3, 7]

for i in range(7):
    print(new_arr[i])

10
2
5
4
8
3
7