# Uses of DSA

- It improves logical thinking
- It's helpful to solve any complex problems
- This is helpful when developing complex backend logic

# Print Statement

- It displays the output

In [1]:
print("Ananth")

Ananth

In [2]:
print("Ananth I am a good boy")

Ananth I am a good boy

In [3]:
print("Macha")

Macha

In [4]:
print("Macha I am a good boy")

Macha I am a good boy

In [5]:
print("143")

143

# Variables

- Assigning names to various things

In [6]:
print("Mahesh babu")

Mahesh babu

In [7]:
jai_babu = "Mahesh babu"
print(jai_babu)

Mahesh babu

In [8]:
power_star = "Pawan kalyan"
print(power_star)

Pawan kalyan

```
Note:

--> Always remember to write any names or specific words in double quotes
```

In [9]:
Alluarjun = 1
print(Alluarjun)

1

In [10]:
Alluarjun = "1"
print(Alluarjun)

1

In [11]:
Alluarjun = 1
print(Alluarjun + 2)

3

In [12]:
Alluarjun = "1"
print(Alluarjun + 2)

TypeError: can only concatenate str (not "int") to str

```
Note:

--> Data refers to information, while a data type is the category of data stored in a variable
--> In this section, we store string data in power_star and integer data in Alluarjun
```

# If-Else Statement

- First, it checks the condition; if the result is true, it goes to the if-block, otherwise, it goes to the else-block

In [13]:
if 1 + 2 == 3:
    print("Mahesh")
else:
    print("Prabhas")

Mahesh

In [14]:
if 1 + 4 == 3:
    print("Mahesh")
else:
    print("Prabhas")

Prabhas

```
Note:

--> Indentation: It is a space before every Python statement within an if-else block
```

In [15]:
if 1 + 2 == 3:
print("Mahesh")
else:
    print("Prabhas")

IndentationError: expected an indented block after 'if' statement on line 1 (3947502490.py, line 2)

In [16]:
if 1 + 2 == 3:
    print("Mahesh")
else:
    print("Prabhas")

Mahesh

In [17]:
if 1 + 4 == 3:
    print("Mahesh")

In [18]:
if 1 + 2 == 3:
    print("Ananth")
    print("Macha")

Ananth
Macha

```
Note:

--> at least one space before Python statements is considered as indentation
```

In [25]:
if 1 + 2 == 3:
 print("Ananth")
 print("Macha")

print("Muthyam")

Ananth
Macha
Muthyam

In [20]:
if 1 + 2 == 3:
    print("Ananth")
print("Macha")

print("Muthyam")

Ananth
Macha
Muthyam

In [21]:
if 1 + 4 == 3:
    print("Ananth")
print("Macha")
print("Muthyam")

Macha
Muthyam

In [22]:
if 1 + 4 == 3:
    print("Ananth")
    print("Macha")
print("Muthyam")

Muthyam

In [23]:
if 1 + 4 == 3:
    print("Ananth")
    
    print("Macha")
print("Muthyam")

Muthyam

In [24]:
if 1 + 4 == 3:
    print("Ananth")
    
    print("Macha")
    
    print("Muthyam")

In [26]:
if 1 + 4 == 3:
 print("vignesh") # inside if block

 print("Macha") # inside if block

print("Muthyam") # outside if block

 print("Thop") # outside if block

IndentationError: unexpected indent (3549671092.py, line 8)

In [27]:
if 1 + 4 == 3:
 print("vignesh") # inside if block

 print("Macha") # inside if block

print("Muthyam") # outside if block

Muthyam

In [28]:
if 1 + 4 == 3:
 print("vignesh") # inside if block

 print("Macha") # inside if block

print("Muthyam") # outside if block


if 2 + 3 == 5:
 print("Thop") # Inside if block
 print("Juice") # Inside if block

Muthyam
Thop
Juice

In [29]:
alluarjun = 1
if alluarjun + 4 == 3:
 	print("vignesh")
else:
	print("Dinesh")
	print("Muthyam")

Dinesh
Muthyam

```
Note:

--> We use the equal sign (=) to assign values to variables
--> We use the equality operator (==) to compare two values

```

## Program: 
- Let's create a program to find paths for males and females. Choose left if there is a male and right if there is a female

In [30]:
gender = "male"

if gender == "male":
    print("left")
else:
    print("right")

left

In [31]:
gender = "female"

if gender == "male":
    print("left")
else:
    print("right")

right

In [32]:
gender = "toy"

if gender == "male":
    print("left")
else:
    print("right")

right

```
Note:

--> In our code, there is a small logic issue. It correctly identifies the block whether the input is a boy or a girl, but when the input is “toy,” it selects the else block, which was not intended in our design 
--> So, we need to rethink our approach and come up with a new logic to address this problem
```

In [33]:
gender = "toy"

if gender == "male":
    print("left")
    
if gender == "female":
    print("right")

In [34]:
gender = "male"

if gender == "male":
    print("left")
    
if gender == "female":
    print("right")

left

In [35]:
gender = "female"

if gender == "male":
    print("left")
    
if gender == "female":
    print("right")

right