In [1]:
name = "Ananth"
print("My name is ", name)

My name is  Ananth

In [2]:
name = input()
print("My name is ", name)

 Ananth

My name is  Ananth

In [3]:
name = input()
place = input()

print("My name is ", name)
print("I am from", place)

 Ananth
 Andhra Pradesh

My name is  Ananth
I am from Andhra Pradesh

In [4]:
name = input("Enter your name : ")
place = input("Enter your place : ")

print("My name is ", name)
print("I am from", place)

Enter your name :  Ananth
Enter your place :  Andhra Pradesh

My name is  Ananth
I am from Andhra Pradesh

# Learning type() function

In [5]:
s = "Ananth"
print(type(s))
print(s)

<class 'str'>
Ananth

In [6]:
n = 4
print(type(n))
print(n)

<class 'int'>
4

In [7]:
n = "4"
print(type(n))
print(n)

<class 'str'>
4

# Coming back to inputs in python

In [8]:
n = input("Enter number : ")
print(type(n))
print(n)

Enter number :  5

<class 'str'>
5

In [9]:
n = input("Enter number : ")
print(type(n))
print(n+3)

Enter number :  4

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [10]:
n = int(input("Enter number : "))
print(type(n))
print(n+3)

Enter number :  4

<class 'int'>
7

In [11]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))

print("My name is ", name)
print("My age is ", age)

Enter your name :  Ananth
Enter your age :  25

My name is  Ananth
My age is  25

In [12]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))

print("My name is ", name)
print("My age is ", age+100)

Enter your name :  Ananth
Enter your age :  25

My name is  Ananth
My age is  125

# Taking array input in python

In [13]:
li = []
n = 3
for i in range(n):
    temp = input("Enter number :")
    li.append(temp)
print(li)

Enter number : 1
Enter number : 4
Enter number : 1

['1', '4', '1']

In [15]:
li = []
n = 3
for i in range(n):
    temp = int(input("Enter number : "))
    li.append(temp)
print(li)

Enter number :  4
Enter number :  6
Enter number :  8

[4, 6, 8]

In [16]:
s = input("Enter the values: ")
print(s)

Enter the values:  1 4 1

1 4 1

# Understanding the split() function

In [17]:
s = input("Enter the values : ")
print(s.split())

Enter the values :  1 4 1

['1', '4', '1']

In [18]:
s = input("Enter the values : ")
temp = s.split()
print(temp)

Enter the values :  1 4 6

['1', '4', '6']

In [19]:
s = input("Enter the values : ")
temp = s.split(",")
print(temp)

Enter the values :  1,4,6

['1', '4', '6']

In [20]:
s = input("Enter the values : ")
temp = s.split(",")
print(temp)

Enter the values :  1 4 6

['1 4 6']

# Coming back to array input

In [21]:
li = []
s = "1 4 6"
temp = s.split()
for i in range(len(temp)):
    val = temp[i]
    li.append(val)
print(li)

['1', '4', '6']

In [22]:
li = []
s = "1 4 6"
temp = s.split()
for i in range(len(temp)):
    val = int(temp[i])
    li.append(val)
print(li)

[1, 4, 6]

In [24]:
li = []
s = input()
temp = s.split()
for i in range(len(temp)):
    val = int(temp[i])
    li.append(val)
print(li)

 1 4 6

[1, 4, 6]

# Understanding the best way to take array input

In [25]:
li = list(map(int, input().split()))
print(li)

 9 6 3

[9, 6, 3]

# Explanation

In [26]:
temp = "9 6 3".split()
print(temp)

['9', '6', '3']

In [27]:
temp = "9 6 3".split()
print(temp)
li = map(int, temp)
print(li)

['9', '6', '3']
<map object at 0x00000225367A2380>

In [28]:
temp = "9 6 3".split()
print(temp)
li = list(map(int, temp))
print(li)

['9', '6', '3']
[9, 6, 3]

In [29]:
li = list(map(int, "9 6 3".split()))
print(li)

[9, 6, 3]

In [30]:
li = list(map(int, input().split()))
print(li)

 9 6 3

[9, 6, 3]